.list_style {
    font-size: 12px;
}
#filter {
    font-size: 14px;
    font-weight: bold;
}
p {
    margin: 0;
}
.liStyle {
    font-size: 12px;
}
ul li {
    font-size: 12px;
}
.search_menu select {
    /*width: 80%;*/
}
.search_menu {
    font-size: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.search_menu ul {
    padding-left: 20px;
}
.search_menu ul li {
    padding-bottom: 2px;
}